/* LandingPage.css */

.landing-page {
  background-color: #080705;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
}

.logo {
  margin-bottom: 30px;
  max-width: 80%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  justify-content: center;
}

.card {
  background-color: #1c1c1c;
  color: #1c1c1c; /* Ensure text is visible against dark background */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  flex: 1 1 300px;
  max-width: 300px;
  margin: 20px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Add styles for the card-icon */
.card-icon {
  font-size: 150px;
  color: #ffffff;
  margin-top: 20px;
}

.card-icon:hover {
  color: #cccccc;
}

.card-content {
  margin-top: 20px;
}

.card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card p {
  font-size: 1em;
  line-height: 1.5;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.buttons .MuiButton-root {
  width: 100%;
  background-color: #6200ea;
  color: #ffffff;
}

.buttons .MuiButton-root:hover {
  background-color: #3700b3;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 90%;
  }
}

