@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL@20..48,100..700,0..1');

/* Root CSS variables */
:root {
    --md-ref-typeface-brand: 'Roboto', sans-serif;
    --md-ref-typeface-plain: 'Roboto', sans-serif;
    --md-sys-color-primary: #000;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-on-surface-variant: #3f4948;
}

/* Typography */
label {
    font: 400 16px var(--md-ref-typeface-plain);
}

h2 {
    font: 400 38px/1.5 var(--md-ref-typeface-plain);
}

h5 {
    font: 400 17px var(--md-ref-typeface-plain);
}

/* Container Styling */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.login-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #080705;
    padding: 20px 0;
}

.login-form {
    width: 100%;
    max-width: 1200px;
    border-radius: 8px;
}

/* Header Row */
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Input Fields */
.input-field-email,
.input-field-password {
    width: 100%;
    margin: 15px 0;
}

/* Remember Me Checkbox */
.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me md-checkbox {
    margin-right: 10px;
}

/* Button Styling */
.md-button {
    position: relative;
    left: 550px;
    --md-filled-button-container-color: #000;
    --md-filled-button-label-text-color: #fff;
}

.md-filled-button {
    --md-filled-button-container-color: #000;
    --md-filled-button-label-text-color: #fff;
}

.md-outlined-button {
    --md-filled-button-container-color: #000;
    --md-filled-button-label-text-color: #fff;
}

/* Flexbox for Buttons */
.center-button,
.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

/* Account Links */
.account-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.account-links a,
.help-link a {
    color: var(--md-sys-color-primary);
    text-decoration: none;
    font: 15px var(--md-ref-typeface-plain);
}

.help-link {
    margin-top: 5px;
    text-align: center;
}
