@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL@20..48,100..700,0..1');

:root {
    --md-ref-typeface-brand: 'Roboto';
    --md-ref-typeface-plain: 'Roboto';
    /* --md-checkbox-selected-container-color: #000; */
    --md-sys-color-primary: #000;
    /* --md-sys-color-primary: #0f5ccf; */
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-on-surface-variant: #3f4948;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.questionapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 30vw);
  position: relative;
}

.headerWrapper {
  position: relative;
  top: -30%;
}

.main {
  width: calc(80vmin);
  margin: 0 auto;
}

.app-header {
  width: calc(80%);
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}

.error {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem;
  background-color: #495057;
  border-radius: 100px;
}

img {
  width: calc(95vmin - 80vmin);
  border-radius: 50%;
}

.questionh1 {
  font-family: "Codystar";
  font-size: calc(100vmin - 93vmin);
  text-align: center;
}

.questionh2 {
  font-size: calc(100vmin - 96vmin);
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(0, 216, 255);
}

.questionh3 {
  font-size: calc(100vmin - 97.5vmin);
  font-weight: 600;
  margin-bottom: 4rem;
  text-align: center;
}

.questionh4 {
  font-size: calc(100vmin - 96vmin);
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000; /* --color-accent */
}

.question_container {
  color: #000000; /* --color-accent */
}

.progress {
  margin-bottom: 4rem;
  display: grid;
  justify-content: space-between;
  gap: 1.2rem;
  grid-template-columns: auto auto;
  font-size: calc(100vmin - 97vmin);
  color: #000000; /* --color-medium */
}

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: #000000; /* --color-medium */
  border-radius: 100px;
}

::-webkit-progress-value {
  background-color: #c380c3; /* --color-theme */
  border-radius: 100px;
}

.btn {
  display: block;
  font-family: inherit;
  color: black;
  font-size: calc(100vmin - 97vmin);
  border: 2px solid #585858; /* --color-dark */
  background-color: white;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

.btn:not([disabled]):hover {
  background-color: white;
}

.highscore {
  color: #000000; /* --color-accent */
}

.btn-option:not([disabled]):hover {
  transform: translateX(1.2rem);
  background-color: white;
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.btn-ui {
  float: right;
}

.options {
  display: flex;
  flex-direction: column;
}

.btn-option {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
  font-size: calc(100vmin - 97vmin);
  margin-left: -1rem;
}

.btn-option.correct {
  background-color: #c380c3 !important; /* --color-theme */
  border: 2px solid #c380c3 !important; /* --color-theme */
  color: #f1f3f5; /* --color-light */
}

.btn-option.wrong {
  background-color: #000000; /* --color-accent */
  border: 2px solid #000000; /* --color-accent */
  color: #ffffff; /* --color-darkest */
}

.answer {
  transform: translateX(2rem);
}

.result_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result {
  background-color: #c380c3 !important; /* --color-theme */
  color: #f1f3f5; /* --color-light */
  border-radius: calc(2vmin + 7px);
  text-align: center;
  padding: calc(2vmin + 11px) calc(2vmin + 9px);
  font-size: calc(2vmin + 7px);
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.result span {
  display: block;
  font-size: 2.2rem;
  margin-right: 4px;
}

.highscore {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.6rem;
  color: #000000; /* --color-medium */
  font-size: 1.4rem;
}

.timer {
  float: left;
  font-size: calc(100vmin - 97vmin);
  color: #000000; /* --color-medium */
  border: 2px solid #585858; /* --color-dark */
  padding: 1.35rem 2.8rem;
  border-radius: 100px;
  margin-left: -2rem;
}

.loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
      50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* ********** */
/* First counter example */
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 6rem;
}

.counter * {
  font-size: inherit;
  padding: 0.8rem;
}
