.appBar {
    background-color: #090606!important;
    padding: 0;
}

.toolbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.logo {
    height: 167px;
    width: 371px;
}

.logoText {
    color: #e8def8 !important;
    font-size: 12px;
    margin-top: 2px;
}

.drawerPaper {
    background-color: #1d1b20 !important;
    padding-right: 100px;
}

.listItemText {
    font-size: 0.875rem; /* Adjust the font size as needed */
    color: #e8def8;
    font-family: Arial, sans-serif;
}

.divider {
    background-color: #e8def8; /* Adjust color as needed */
    border-top: 8px solid;
    border-radius: 5px;
    padding-right: 100px;

}

.heading {
    color: #e8def8;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}